:root{
    --main-dark-blue: #565d69;
    --main-light-blue: #c1cce0;
    --main-bright-blue:#3f6fc5;
}
@font-face {
    font-family: 'Comfortaa';
    src: url('../resources/Comfortaa-VariableFont_wght.ttf') format('truetype');
}


html{
    scroll-padding-top: 96px;
    font-family:Helvetica, sans-serif;
    scrollbar-color: var(--main-dark-blue) #ffffff00;
}

body{
    margin: 0px;
}


a{
    color: var(--main-bright-blue);
}
a:hover{
    display: inline-flex;
   transform: scale(1.01);
}


p.center{
    text-align: center;
}
h2, h3{
    font-family: 'Comfortaa';
    font-size: 32px;
    font-weight: normal;    
    padding: 6px;
    margin:0px
}

h1, h1 a{
    text-align: center;
    font-family: 'Comfortaa';
    color: var(--main-light-blue);
    text-decoration: none;
    margin: 0px;
    font-size:48px;

}
p, li{
    font-size:24px;
}

p{
    margin-left: 60px;
}
ul{
    margin-bottom: 0px;
}
li{
    margin-bottom: 12px;
}
main{
    margin: 0px 8%;
    padding-top: 24px;
}
img{
    border: solid 4px  var(--main-dark-blue);
    border-radius: 16px;
}

.center{
    margin-left: auto;  
    margin-right: auto;
}

.ListDiv{
    display: flex;
    gap:12px;
    margin-left: 60px;


}

@media (min-width:2250px){
    main{
    margin: 0px 12%;
}
}
@media (max-width: 1350px) {    
    header{
        justify-content: center;
    }
}




@media (max-width: 800px) {
  p, .ListDiv{
        margin-left: 40px;
    }


}

@media (max-width: 500px) {
    h2, h3{
        font-size:24px;
    }
  
    p, .ListDiv {
        margin-left: 14px;
        font-size:18px; 
    }

    main{
    margin: 0px 6%;
    }
}



.centerDiv{
   display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

@media print{
    html{
        scrollbar-color: #ffffff00 #ffffff00;

    }
    main{
    margin:24px;
        margin-left: 6px;
    }

    h1, h2{
        font-size: 24px;
    }

    p, .ListDiv{
        font-size:18px;
        margin-left: 20px;

    }

    a{
        text-decoration: none;
    }
    /* Nice trick to print urls https://css-tricks.com/snippets/css/print-url-after-links/ */
    a[href^="http"]:after {
        content: ": (" attr(href) ")";
        font-size:16px;
    }
}