@font-face {
    font-family: 'Comfortaa';
    src: url('../resources/Comfortaa-VariableFont_wght.ttf') format('truetype');
}
html{
    font-family:Helvetica, sans-serif;
}

body{
    margin: 0px;
}


h2, h3{
    font-family: 'Comfortaa';
    font-size: 32px;
    font-weight: normal;    
    padding: 6px;
    margin:0px
}

p{
    font-size:24px;
    margin-left: 80px;
}

main{
    margin: 24px 8%;
}
img{
    border: solid 4px  #565d69;
    border-radius: 16px;
}

.center{
    margin-left: auto;  
    margin-right: auto;
}
@media (max-width: 1350px) {    
    header{
        justify-content: center;
    }
}




@media (max-width: 800px) {
  p{
        margin-left: 40px;
    }


}

@media (max-width: 500px) {
    h2, h3{
        font-size:24px;

    }
  p{
        margin-left: 20px;
        font-size:18px;
        
    }


}



.centerDiv{
   display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

@media print{
    main{
    margin:24px;
        margin-left: 6px;
    }

    /* Nice trick to print urls https://css-tricks.com/snippets/css/print-url-after-links/ */
    a[href^="http"]:after {
        content: " (" attr(href) ")";
    }
}