@font-face {
    font-family: 'Comfortaa';
    src: url('../resources/Comfortaa-VariableFont_wght.ttf') format('truetype');
}

.carouselLabel{
    text-align: center;
}
.center{
    margin-left: auto;
    margin-right: auto;
}
.carousel{
    width: 1000px;
    height:480px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    display: flex;

}

.half{
    width: 500px;
}
.carousel > div{
    scroll-snap-align: start;
    margin:0 10px;
    display: flex;

}
.carousel > div img, .carousel div p{
    margin:0px 10px;
    border: solid 4px  #565d69;
    border-radius: 16px;
    gap: 10px;
}


.carousel > div p{
    flex: 0 0 480px;
    padding: 10px;

}   

.carousel > div img{
    flex: 0 0 480px;
    object-fit: cover;

}   


.carousel div div{
    padding: 10px;
}

@media (max-width: 585px) {
    .carousel{
    height:240px;
    width: 260px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    display: flex;

    }
    .carousel > div p{
    flex: 0 0 212px;
    width:240px;
    padding: 10px;

    }

    .carousel > div img{
    flex: 0 0 240px;
    object-fit: cover;

} 

    .carousel > div{
    scroll-snap-align: unset;
   

    }

     .carousel > div > *{
        scroll-snap-align: start;

    }
   .half{
    width: 240px;

}


}