@font-face {
    font-family: 'Comfortaa';
    src: url('../resources/Comfortaa-VariableFont_wght.ttf') format('truetype');
}

.center{
    justify-content: center;
}
.carouselLabel{
    text-align: center;
}

.carousel{
    width: 856px;
    height:424px;
    display: flex;

}

.half{
    width: 428px;
}


.carousel > div{
    display: flex;
     align-items: center; 

}
.carousel > div img, .carousel div p{
    margin:0px 10px;
    border: solid 4px  #565d69;
    border-radius: 16px;
}


.carousel > div p{
    padding:18px;
    width:  364px;
    height:364px;

}   

.carousel > div img{
    width:  400px;
    height:400px;
    object-fit: cover;

}   




.carouselWrapper{
    display: flex;
    align-items: center;
}
.carouselWrapper > button{
    border: solid 4px  #565d69;
    border-radius: 16px;
    background: none;
    font-size: 20px;
    height:64px;

}

.carouselWrapper > button:hover{
    transform: scale(1.02);
}

.carouselWrapper > button:active{
    background-color: #d2dbea;
}


@media (max-width: 1400px) {
    .carousel{
    width: 658px;
    height:324px;
    }
        
    .half{
        width: 328px;
    }
    .carousel > div p{
        padding:10px;
        width:  280px;
        height:280px;
    }   
    .carousel > div img{
        width:  300px;
        height:300px;
    } 

}
@media (max-width: 790px) {
        .carousel p{
        font-size:18px;
    }
    .carouselWrapper > button{
        font-size:15px
        
    }
    .carouselWrapper > button{
        height:48px;

    }


    .carousel{
        width:456px;
        height:224px;
    }

    .half{
        width:224px;

    }

    .carousel > div p{
    padding:10px;
    width:  180px;
    height:180px;
    }   

    .carousel > div img{
        width:  200px;
        height:200px;
        object-fit: cover;

    }  




}

@media (max-width: 500px) {
    .carousel{
        width: 224px;
        height: 426px;
        margin-bottom: 10px;
    }

    .half{
        height: 224px;
        margin-bottom: 12px;

    }

    .carousel > div{
    scroll-snap-align: unset;
    gap:10px;
    flex-wrap: wrap;

    }

    .carousel > div > * {
    scroll-snap-align: center;

    }
}

@media print {
    .carouselWrapper{
        margin-bottom: 100px;

    }
    .carouselWrapper > button{
        display: none;
    }


    .carousel{
    width: 856px;
    height:424px;

}

    .half{
        width: 428px;
    }

    .carousel > div img, .carousel div p{
        margin:0px 10px;
    }


    .carousel > div p{
        padding:18px;
        width:  364px;
        height:364px;

    }   

    .carousel > div img{
        width:  400px;
        height:400px;

    }   

    .carousel > div{
        display: block;
    }

    .carousel > div[style] {
        display: block 
    }
}