@font-face {
    font-family: 'Comfortaa';
    src: url('../resources/Comfortaa-VariableFont_wght.ttf') format('truetype');
}

.carouselLabel{
    text-align: center;
}
.center{
    margin-left: auto;
    margin-right: auto;
}
.carousel{
    width: 974px;
    height:495px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    display: flex;

}

.half{
    width: 500px;
}
.carousel > div{
    scroll-snap-align: center;
    margin:0 10px;
    display: flex;

}
.carousel > div img, .carousel div p{
    margin:0px 10px;
    border: solid 4px  #565d69;
    border-radius: 16px;
    gap: 10px;
}


.carousel > div p{
    width:  452px;
    height:45S2px;

}   

.carousel > div img{
    width:  472px;
    height:472px;
    object-fit: cover;

}   


.carousel div div{
    padding: 10px;
}

@media (max-width: 1100px) {
        .carousel{
    height:376px;
    width: 764px; 
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    display: flex;

    }
    .carousel > div p{
    width:260px;
    height:260px;
    padding: 10px;

    }

    .carousel > div img{
    width:260px;
    height:260px;
    object-fit: cover;

    }  
    
    .half{
        width: 376px;
    }
}
@media (max-width: 585px) {
    .carousel{
        height:264px;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        display: flex;

    }
    .carousel > div p{
        flex: 0 0 212px;
        width:240px;
        padding: 10px;

    }

    .carousel > div img{
    width:254px;
    height:254px;
    object-fit: cover;

    } 

    .carousel > div{
    scroll-snap-align: unset;
   

    }

     .carousel > div > *{
        scroll-snap-align: center;

    }
   .half{
    width: 264px;

}


}