:root{
    --main-dark-blue: #565d69;
    --main-light-blue: #c1cce0;
    --main-bright-blue:#3f6fc5;
}
@font-face {
    font-family: 'Comfortaa';
    src: url('../resources/Comfortaa-VariableFont_wght.ttf') format('truetype');
}

.center{
    justify-content: center;
}
.carouselLabel{
    text-align: center;
}

.carousel{
    width: 856px;
    height:424px;
    display: flex;
    overflow: hidden;

}

.half{
    width: 428px;
}


.carousel > div{
    display: flex;
     align-items: center; 

}
.carousel > div img, .carousel div p{
    margin:0px 10px;
    border: solid 4px  var(--main-dark-blue);
    border-radius: 16px;
}


.carousel > div p{
    padding:18px;
    width:  364px;
    height:364px;

}   

.carousel > div img{
    width:  400px;
    height:400px;
    object-fit: cover;

}   




.carouselWrapper{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}
.carouselWrapper > button{
    border: solid 4px  var(--main-dark-blue);
    
    border-radius: 16px;
    background: none;
    font-size: 20px;
    height:64px;

}

.carouselWrapper > button:hover{
    transform: scale(1.01);

}
.carouselWrapper > button:active{
    transform: scale(0.99);
}


@media (min-width: 1900px) {
    .large {
        width: 956px;
        height: 478px;
    }

    .half .large {
        width: 478px;
    }

    .large>div p {
        padding: 10px;
        width: 430px;
        height: 430px;
    }

    .large>div img {
        width: 450px;
        height: 450px;
    }
}
@media (min-width: 2500px) {
    .carousel:not(.small){
    width: 1055px;
    height:528px;
    }
        
    .half:not(.small){
        width: 528px;
    }
    .carousel:not(.small) > div p{
        padding:10px;
        width: 480px;
        height:480px;
    }   
    .carousel:not(.small) > div img{
        width:  500px;
        height:500px;
    } 
}


@media (min-width: 2500px) {
    .carouselWrapper{
        margin-bottom: 24px;
    }
}



@media (max-width: 1500px) {
    .carousel{
    width: 658px;
    height:324px;
    }
        
    .half{
        width: 328px;
    }
    .carousel > div p{
        padding:10px;
        width:  280px;
        height:280px;
    }   
    .carousel > div img{
        width:  300px;
        height:300px;
    } 

}

@media (max-width: 920px) {
    .carousel{
        width: 328px;
        height: 610px;
    }

    .half{
        height: 328px;

    }

    .carousel > div{
    scroll-snap-align: unset;
    gap:10px;
    flex-wrap: wrap;

    }

    .carousel > div > * {
    scroll-snap-align: center;

    }
}


@media (max-width: 790px) {
    .carousel > div img, .carousel div p{
        margin:0px 5px;
    }

        .carousel p{
        font-size:18px;
    }
    .carouselWrapper > button{
        font-size:15px
        
    }
    .carouselWrapper > button{
        height:48px;

    }


    .carousel{
        width:265px;
        height:532px;
    }

    .half{
        height:265px;
    }

    .carousel > div p{
    padding:10px;
    width:  228px;
    height:228px;
    }   

    .carousel > div img{
        width:  248px;
        height:248px;
        object-fit: cover;

    }  
}
@media (max-width: 360px) {

    .carousel{
        width:218px;
        height: 426px;

    }

    .half{
        height:218px;

    }

    .carousel > div p{
    padding:10px;
    width:  180px;
    height:180px;
    }   

    .carousel > div img{
        width:  200px;
        height:200px;
        object-fit: cover;

    }  
}

@media print {

    .carouselWrapper{
        margin-bottom: 100px;
        justify-content: center !important;

    }
    .carouselWrapper > button{
        display: none;
    }


    .carousel{
        margin: 0 auto !important;
        width: 100%;
        height:auto;
        overflow: visible;
        display: flex !important;
        flex-direction: column;
    }
    .carousel > div {
        display: flex !important;
        width: 100%;
        align-items: center;
        page-break-inside: avoid;
        margin-bottom: 0px;
        gap:10px;
    }


    .carousel > div img, .carousel div p{
        margin:10px 10px;
        border: none;
    }


    .carousel > div p{
        padding:18px;
        max-width: 600px;
        height:auto;

    }   

    .carousel > div img{
        width:  300px;
        height:auto;

    }   
}