@font-face {
    font-family: 'Comfortaa';
    src: url('../resources/Comfortaa-VariableFont_wght.ttf') format('truetype');
}

.carouselLabel{
    text-align: center;
}

.carousel{
    width: 848px;
    height:424px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    display: flex;


}

.half{
    width: 432px;
}
.carousel > div{
    scroll-snap-align: center;
    margin:0 10px;
    display: flex;

}
.carousel > div img, .carousel div p{
    margin:0px 10px;
    border: solid 4px  #565d69;
    border-radius: 16px;
    gap: 10px;
}


.carousel > div p{
    padding:10px;
    width:  380px;
    height:380px;

}   

.carousel > div img{
    width:  400px;
    height:400px;
    object-fit: cover;

}   






.carouselWrapper{
    display: flex;
    align-items: center;
    gap:2px;
        justify-content: center;
}
.carouselWrapper > button{
    border: solid 4px  #565d69;
    border-radius: 16px;
    background: none;
    font-size: 20px;
    height:64px;

}

.carouselWrapper > button:hover{
    transform: scale(1.03);
}

.carouselWrapper > button:active{
    background-color: #bfcde6;
}

@media (max-width: 500px) {
    .carouselWrapper > button{
        font-size:15px
        
    }
        .carouselWrapper > button{
            height:48px;

    }




}

