html{
    font-family:Helvetica, sans-serif;
}
body{
    margin-left: 48px;
    margin-right: 48px;
}

h1, .ah1{
    color: black;
    text-decoration: none;
    margin: 0px;

}


h2{
    font-size: 16px;
    box-shadow: 5px 5px #5796aa;
    padding: 6px;
    border-radius: 12px;
}

p{
    font-size:24px;
}
header{


    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 5px 5px #5796aa;

    border-radius: 24px;
    padding-left: 12px;
    padding-right: 12px;
}

header h1{
    flex: 0 0 auto;
}

header div{
    flex: 1 1 auto;

    display: flex;
    gap: 16px;
    justify-content: space-evenly;
    
}
header div p {
    list-style: none;
    flex: 0 0 auto;
}

main{
    margin:24px;
}
img{
    border: 6px solid #5796aa;
    border-radius: 20px;
}

.bio{
    display: flex;
    flex-wrap: wrap;
    gap:24px;
    align-items: center;
}

.bio p{
    min-width: 300px; 
    flex: 1 1 300px; 
}

.jonasPic{
    width: 240px;
    height: auto;


}
/* 
@media (max-width: 1000px) {
    body{
        margin-left: 60px;
        margin-right: 60px;
    }
}
@media (max-width: 650px) {

    body{
        margin: 10px;
    }
    p {
        font-size: 20px;
    }

    body{
            padding: 16px;

    }
} */