@font-face {
    font-family: 'Comfortaa';
    src: url('../resources/Comfortaa-VariableFont_wght.ttf') format('truetype');
}
html{
    font-family:Helvetica, sans-serif;
}

body{
    margin: 0px;
}
h1, .ah1{
    color: #020718;
    text-decoration: none;
    margin: 0px;
    font-size:64px;

}


h2{
    font-size: 16px;
    padding: 6px;
}

p{
    font-size:24px;
}
header{
    font-family: 'Comfortaa';

    margin: 0px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 24px;

    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;

    background-color: #565d69;
    box-shadow: 0px 5px 5px darkgrey;

    position: sticky;
    top: 0;

}
header div{
    flex: 1 1 auto;

    display: flex;
    gap: 16px;
    justify-content: space-evenly;

    
}
header h1{
    flex: 0 0 auto;

}

header h1:hover{
    transform: scale(1.025);

}


header div a{
    font-size:32px;
    color: #212121;

}

header div a:hover{
    transform: scale(1.05);

}
main{
    margin:24px;
    margin-left: 8%;
    margin-right: 8%;
}
img{
    border: solid 3px black;

    border-radius: 16px;
}

.bio{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:24px;
    justify-content: space-evenly;
}

.bio .bioText{
    min-width: 800px;
}


.bioText p, .bioText h2{
    margin:0px;
    padding:0px;
}

.bioText h2{
        margin-left:40px;

    font-size: 32px;
    font-weight: normal;
}

.bioText p{
    margin-left:80px;
    max-width: 600px;    
}
.jonasPic{
    width: 500px;
    height: auto;


}

@media (max-width: 1350px) {    
    header{
        justify-content: center;
    }
}


@media (max-width: 1053px) {
    h1, .ah1{
        font-size:32px;
    }


}

@media (max-width: 630px) {
    h1, .ah1, header div a{
        font-size:20px;
    }


}
