html{
    background-color: #c0d3e6;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    margin-top:0px;
    text-align: center;
    color: #1c1e29;;
}

h2{
    text-align: center;
}
.flexBox{
    display: flex;
    gap: 48px;
    flex-wrap: wrap;

}
.flexBox .flexBoxChild{
    flex: 1 1 300px;

}
body {
    padding: 32px;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 120px;
    margin-right: 120px;
    border: 4px solid #4a4d5c;
    border-radius: 20px;

}

img{
    border: 4px solid #4a4d5c;
    border-radius: 20px;
}

.jonasPic{
    width: 50%;
    display: block;
    margin-left: auto;    
    margin-right: auto;    
}

@media (max-width: 1000px) {
    body{
        margin-left: 60px;
        margin-right: 60px;
    }
}
@media (max-width: 650px    ) {
    .jonasPic {
    width: 35%;
    }
    body{
        margin: 10px;
    }
    p {
        font-size: 20px;
    }

    body{
            padding: 16px;

    }
}