:root{
    --main-dark-blue: #565d69;
    --main-light-blue: #c1cce0;
    --main-bright-blue:#3f6fc5;
}
@font-face {
    font-family: 'Comfortaa';
    src: url('../resources/Comfortaa-VariableFont_wght.ttf') format('truetype');
}

/* I used this to help implement accessibility https://www.w3schools.com/accessibility/accessibility_skip_links.php */
.skip{
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.skip:focus {

  position: static;
  width: auto;
  height: auto;
}


p{
        margin-top:0px;
        margin-bottom: 0px;
}
header{
    z-index: 9999;

    font-family: 'Comfortaa';

    margin: 0px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 24px;

    padding: 12px 24px;

    background-color: var(--main-dark-blue);
    box-shadow: 0px 2px 5px darkgrey;

    position: sticky;
    top: 0;



    /* margin-bottom: 36px; */



}

header a{
    text-decoration: none;

}

.headerCurrent{
  text-decoration: underline;
}
header > div{
    flex: 1 1 auto;

    display: flex;
    gap: 16px;
    justify-content: space-evenly;

    
}
header h1{
    flex: 0 0 auto;

}




header h1:active, header .drop:active{
    transform: scale(1);
}



header div > div> a{
    max-width:200px;
    color: var(--main-light-blue);

}
header div > div> a{
    font-size:32px;
}



/* I used this to help create the drop downs https://www.w3schools.com/css/css_dropdowns.asp */
.drop{
    position: relative;
    
}

.drop > div{

    display: none;
    position: absolute;
}
.drop > div > ul{
    overflow-x: hidden;

    margin-top: 21px;
    background: var(--main-light-blue);
    width:200px;
    height:100px;

    box-shadow: 0px 2px 5px darkgrey;
    border-radius: 0px 0px 16px 16px;
    padding-bottom: 4px;
    overflow-y: auto; 
    scroll-snap-type: y mandatory; 

}

.drop > div > ul > li{
    scroll-snap-align: start;
}
.drop > div > ul > li > a, .drop > div > ul > li{

    color:  var(--main-dark-blue)
}
.drop:hover > div{
    display: block;
}
@media (min-width: 2500px){
    header{
        /* margin-bottom: 48px; */
    }
}
@media (max-width: 1350px) {    
    header{
        justify-content: center;
    }
}

@media (max-width: 1300px) {

    .drop > div {
        right: 0px;
    }

    .drop > div > ul{
    width:150px;
    height:90px

    }

    .drop > div > ul > li{
        margin-bottom: 2px;
    }

    .drop > div > ul > li > a{
        font-size: 18px;
    }
 
}

@media (max-width: 870px){
    .drop > div > ul{
        margin-top: 12px;
    }

}
@media (max-width: 630px) {
    header div > div> a{
        font-size:24px;
    }


}

@media (max-width: 450px) {
    header{
        /* margin-bottom: 12px; */

    }
    header div > div> a{
        font-size:24px;
    }
}
@media print {
    header{
        display: none;
    }
}