@font-face {
    font-family: 'Comfortaa';
    src: url('../resources/Comfortaa-VariableFont_wght.ttf') format('truetype');
}

/* I used this to help implement accessibility https://www.w3schools.com/accessibility/accessibility_skip_links.php */
.skip{
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.skip:focus {

  position: static;
  width: auto;
  height: auto;
}
h1, .ah1{
    text-decoration: none;
    margin: 0px;
    font-size:48px;

}

p{
        margin-top:0px;
        margin-bottom: 0px;
}
header{
    z-index: 9999;

    font-family: 'Comfortaa';

    margin: 0px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 24px;

    padding: 12px 24px;

    background-color: #565d69;
    box-shadow: 0px 2px 5px darkgrey;

    position: sticky;
    top: 0;

    margin-bottom: 36px;



}

header a{
          text-decoration: none;

}

.headerCurrent{
  text-decoration: underline;
}
header div{
    flex: 1 1 auto;

    display: flex;
    gap: 16px;
    justify-content: space-evenly;

    
}
header h1{
    flex: 0 0 auto;

}

header h1:hover{
    transform: scale(1.01);

}


header div > a, header > h1 > a{
    font-size:32px;
    color: #c1cce0;

}



header div a:hover{
    transform: scale(1.03);

}


@media (min-width: 2500px){
    header{
        margin-bottom: 48px;
    }
}
@media (max-width: 1350px) {    
    header{
        justify-content: center;
    }
}


@media (max-width: 630px) {
    header div a{
        font-size:24px;
    }

    h1, .ah1{
        font-size: 36px;
    }


}

@media (max-width: 450px) {
    header{
        margin-bottom: 12px;

    }
    header div a{
        font-size:24;
    }

    h1, .ah1{
        font-size: 36px;
    }
}
@media print {
    header{
        display: none;
    }
}