@font-face {
    font-family: 'Comfortaa';
    src: url('../resources/Comfortaa-VariableFont_wght.ttf') format('truetype');
}

p{
        margin-top:0px;
        margin-bottom: 0px;


}
header{
    font-family: 'Comfortaa';

    margin: 0px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 24px;

    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;

    background-color: #565d69;
    box-shadow: 0px 2px 5px darkgrey;

    position: sticky;
    top: 0;



}

header a{
          text-decoration: none;

}

.headerCurrent{
  text-decoration: underline;
}
header div{
    flex: 1 1 auto;

    display: flex;
    gap: 16px;
    justify-content: space-evenly;

    
}
header h1{
    flex: 0 0 auto;

}

header h1:hover{
    transform: scale(1.025);

}


header div a{
    font-size:32px;
    color: #212121;

}

header div a:hover{
    transform: scale(1.05);

}

@media (max-width: 1350px) {    
    header{
        justify-content: center;
    }
}

@media (max-width: 630px) {
    header div a{
        font-size:20px;
    }


}
