:root{
    --main-dark-blue: #565d69;
    --main-light-blue: #c1cce0;
    --main-bright-blue:#3f6fc5;
}
@font-face {
    font-family: 'Comfortaa';
    src: url('../resources/Comfortaa-VariableFont_wght.ttf') format('truetype');
}





.bio{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 48px;

}



.bioText p, .bioText h2{
    margin-top:0px;
    margin-bottom: 0px;
}


.bioText p{
    max-width: 600px;    
}



.bioFlavor{
    gap: 0 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.jonasPic {
    width: 500px;
    height: auto;
}


.bioFlavor .more{
    flex: 1 1 50%;
   max-width: 700px;
    margin-bottom: 48px;

}

.bioFlavor .contact{
    flex: 0 1 auto;
    max-width: 500px;
    margin-bottom: 48px;
}

.skills{
    margin-bottom: 48px;
    flex: 1 1 auto;
    max-width: 700px;

}


@media (min-width: 2500px) {
    .carouselWrapper {
        margin-left: 8%;
    }
}




@media (max-width: 2500px) {

    .picDiv {
        margin-left: auto;
        margin-right: auto;
    }
}


@media (max-width: 1900px) {

    .bioFlavor {
        justify-content: flex-start;
    }
    .bio {
        justify-content: flex-start;
    }
}
@media (max-width: 1502px) {

    .carouselWrapper{
        margin: 0 auto;
    }
}
@media (max-width: 575px) {
   .jonasPic {
         width: 350px;
    }



}
@media (max-width: 500px) {
    li{
        font-size:18px; 
    }




}

@media (max-width: 400px) {
   .jonasPic {
         width: 300px;
    }


}



