@font-face {
    font-family: 'Comfortaa';
    src: url('../resources/Comfortaa-VariableFont_wght.ttf') format('truetype');
}


.bio{
    padding-top: 24px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:24px;
    gap:80px 80px;
    margin-bottom: 48px;
}



.bioText p, .bioText h2{
    margin-top:0px;
    margin-bottom: 0px;
    padding:0px;
}


.bioText p{
    max-width: 600px;    
}



.jonasPic{
    width: 500px;
    height: auto;


}

.bioFlavor{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.jonasPic {
    width: 500px;
    height: auto;
}

.bioFlavor{
    gap:80px 128px;
}
.bioFlavor .more{
    flex: 0 1 600px;
}

.bioFlavor .contact{
    flex: 0 0 300px;
}

@media (min-width: 2500px) {
    .picDiv {
        margin-left: 8%;
    }
}

@media (max-width: 2500px) {

    .picDiv {
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width: 575px) {
   .jonasPic {
         width: 350px;
    }



}

@media (max-width: 400px) {
   .jonasPic {
         width: 300px;
    }


}
