@font-face {
    font-family: 'Comfortaa';
    src: url('../resources/Comfortaa-VariableFont_wght.ttf') format('truetype');
}

.bio{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap:24px;
    gap:0px 80px;
    margin-bottom: 48px;

}



.bioText p, .bioText h2{
    margin-top:0px;
    margin-bottom: 0px;
}


.bioText p{
    max-width: 600px;    
}



.bioFlavor{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.jonasPic {
    width: 500px;
    height: auto;
}

.bioFlavor{
    gap:0px 128px;
}
.bioFlavor .more{
    flex: 1 1 600px;
    margin-bottom: 48px;

    max-width: 900px;  
}

.bioFlavor .contact{
    flex: 0 0 300px;
}

.skills{
    margin-bottom: 48px;
}


@media (min-width: 2500px) {
    .carouselWrapper {
        margin-left: 8%;
    }
}




@media (max-width: 2500px) {

    .picDiv {
        margin-left: auto;
        margin-right: auto;
    }
}


@media (max-width: 1900px) {

    .bioFlavor {
        justify-content: flex-start;
    }
    .bio {
        justify-content: flex-start;
    }
}
@media (max-width: 1502px) {

    .carouselWrapper{
        margin: 0 auto;
    }
}
@media (max-width: 575px) {
   .jonasPic {
         width: 350px;
    }



}
@media (max-width: 500px) {
    li{
        font-size:18px; 
    }




}

@media (max-width: 400px) {
   .jonasPic {
         width: 300px;
    }


}



