:root{
    --main-dark-blue: #565d69;
    --main-light-blue: #c1cce0;
    --main-bright-blue:#3f6fc5;
}main{
    height: 100vh;
    overflow-y: scroll;
}
section{
    min-height: 100vh;
}


body{
  overflow-y: hidden;
}
.carouselWrapper{
  margin-top: 12px;
}

@media (min-width: 2000px){
  section{
    margin: 0px 48px;
  }
}

@media (min-width: 1300px){
}

@media (min-width: 3000px){
  section{
    margin: 0px 300px;
  }
}
