html{
    overflow: hidden;

}
main{
    height: 100vh;
    overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
section{
    min-height: 100vh;
    scroll-snap-align: start;
}


body{
  overflow-y: hidden;
}
.carouselWrapper{
  margin-top: 12px;
}

@media (min-width: 2000px){
  section{
    margin: 0px 48px;
  }
}

@media (min-width: 3000px){
  section{
    margin: 0px 300px;
  }
}
