:root{
    --main-dark-blue: #565d69;
    --main-light-blue: #c1cce0;
    --main-bright-blue:#3f6fc5;
}
main{
    margin: 0px;
    padding: 0px;
}
img{
    border:none;
    object-fit: contain;
}

section{
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.buttonHousing, .buttonEffect{
    width: 44%;
    max-width: 500px;
    height: 85vh;
    display: flex;

}

@media(max-width: 390px){
    .buttonHousing, .buttonEffect{
    height: 81vh;

}
}
.buttonHousing p, .buttonEffect p{
    margin-left: 0px;
}
.buttonHousing{
    position: relative;
    justify-content: center;

}

.buttonHousing button{
    position: absolute;
    border: none;
    background:none;
}


.buttonHousing img{
    width: 100%;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4%;
}

@media (max-width: 690px){
    .title h2{
        font-size: 24px;
    }
}

@media (max-width: 525px){
    .title h2{
        font-size: 18px;
    }

}

@media (max-width: 400px){
    .title{
        height: 8%;
    }
}
.buttonEffect{
    flex-direction: column;
}

.buttonEffect h2{
    text-align: center;
}
.buttonEffect > .slide{
    height: 100%;
}
.imgStack{
    height: 40%;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    scrollbar-color: var(--main-dark-blue) transparent;
    scrollbar-width: thick;
}

.imgStack .imgSlide{
    display: flex;
    justify-content:center;
    height: 100%;
    scroll-snap-align: start;
}

.imgStack img{
    height: 100%;
    width: 100%;
    display: block;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 4px;
    height: 20%
}
@media (max-width:550px) {
    .menu{
        height: 10%;
        margin: 0px;
        padding: 0px;

    }
    
}
@media (max-width:400px) {
    .menu{
        height: 13%;

    }
    
}


.menu > button{
    color:var(--main-dark-blue);
    background: var(--main-light-blue);
    box-shadow: 0px 2px 5px darkgrey;
    border: none;
    border-radius: 6px;
    width: 46%;
    margin: 2%;
    height: 32px;
    font-size: 24px;
}



.menu > button:hover{
    transform: scale(1.025);
    
}

.menu > button:active{
    transform: scale(0.975);
    
}
.menu > button.main{
    width: 90%;
    height: 85%;
}

@media (max-width: 500px) {

    .menu > button{
        font-size:18px; 
        height: 24px;
    }


}

.text{
    margin-top: 4px;
    height: 30%;
    overflow-x: hidden;
    overflow-y: auto;
}
.verticalLine{
    margin: 0 2%;
    border-left: 12px solid var(--main-dark-blue);
    box-shadow: 0px 2px 5px darkgrey;
    border-radius: 6px;
}

.horizontalLine{
    border-top: 12px solid var(--main-dark-blue);
    box-shadow: 0px 2px 5px darkgrey;
    border-radius: 6px;
    width: 100%;
}
#button1{
    height: 58%;
    width: 100%;
}


#button2{
    top:58%;
    height: 30%;
    width: 100%;
}
#button3{
    top: 90%;
    height: 12%;
    width: 100%;
}

#button4{
    top: 20%;
    left: 28%;
    height: 16%;
    width: 10%;
}

#button5{
    top: 20%;
    left: 60%;
    height: 16%;
    width: 10%;
}


