@font-face {
    font-family: 'Comfortaa';
    src: url('../resources/Comfortaa-VariableFont_wght.ttf') format('truetype');
}

main{
    display:flex;
    flex-direction: column;
    gap:48px;
}

.carouselText{
    display: flex;
    flex-wrap:wrap;
}

.carouselText p{
    flex:1 1 600px;
    margin-right:12px;
}

section{
    margin-bottom: 32px;
}

section > div > p{
    margin-bottom: 12px;
}
@media (max-width: 13000px) {
        .carouselText > div{
            margin-left: auto;
            margin-right: auto;
        }

}
@media (max-width: 1300px) {
    .carouselText p{
        max-width: fit-content;
        margin-right: 0px;


    }
}
