@font-face {
    font-family: 'Comfortaa';
    src: url('../resources/Comfortaa-VariableFont_wght.ttf') format('truetype');
}

main{
    display:flex;
    flex-direction: column;
    gap:48px;
}

.carouselText{
    display: flex;
    flex-wrap:wrap;
}

.carouselText p{
    flex:1 0 600px;
    max-width: 630px;
    margin-right:20px;
}
@media (max-width: 1317px) {
        .carouselText > div{
            margin-left: auto;
            margin-right: auto;
        }

}
@media (min-width: 1317px) {
    .carouselText p{
        max-width: auto;

    }
}
