@font-face {
    font-family: 'Comfortaa';
    src: url('../resources/Comfortaa-VariableFont_wght.ttf') format('truetype');
}

html > *{
    overflow: hidden;
}

main{
    height: 100vh;

    display:flex;
    flex-direction: column;
    gap:48px;
    overflow-y: scroll;
    scroll-snap-type: y proximity;
}
section{
    min-height: 100vh;

    margin-bottom: 32px;
    scroll-snap-align: start;


}

.carouselText{
    display: flex;
    flex-wrap:wrap;
}

.carouselText p{
    flex:1 1 600px;
    margin-right:12px;
}



section > div > p{
    margin-bottom: 12px;
}
@media (max-width: 13000px) {
        .carouselText > div{
            margin-left: auto;
            margin-right: auto;
        }

}
@media (max-width: 1300px) {
    .carouselText p{
        max-width: fit-content;
        margin-right: 0px;


    }
}
